################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebAPI/v16/Server/sqlite3/db.lock
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
/WebAPI/bin/Debug/net5.0/WebAPI.runtimeconfig.json
/WebAPI/bin/Debug/net5.0/WebAPI.runtimeconfig.dev.json
/WebAPI/bin/Debug/net5.0/WebAPI.deps.json
/WebAPI/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
/WebAPI/bin/Debug/net5.0/runtimes/osx-x64/native
/WebAPI/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
/WebAPI/bin/Debug/net5.0/runtimes/linux-x86/native
/WebAPI/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
/WebAPI/bin/Debug/net5.0/runtimes/linux-x64/native
/WebAPI/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
/WebAPI/bin/Debug/net5.0/runtimes/linux-musl-x64/native
/WebAPI/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
/WebAPI/bin/Debug/net5.0/runtimes/linux-armel/native
/WebAPI/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
/WebAPI/bin/Debug/net5.0/runtimes/linux-arm/native
/WebAPI/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
/WebAPI/bin/Debug/net5.0/runtimes/alpine-x64/native
/WebAPI/bin/Debug/net5.0/runtimes
/WebAPI/bin/Debug/net5.0/appsettings.json
/WebAPI/bin/Debug/net5.0/appsettings.Development.json
/WebAPI/bin/Debug/net5.0
/Core/obj/Release/net5.0/Core.GeneratedMSBuildEditorConfig.editorconfig
/Core/obj/Release/net5.0/Core.AssemblyInfo.cs
/Core/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Core/obj/Release/net5.0
/Core/obj/project.assets.json
/Core/obj/Debug/net5.0/Core.GeneratedMSBuildEditorConfig.editorconfig
/Core/obj/Debug/net5.0/Core.csproj.FileListAbsolute.txt
/Core/obj/Debug/net5.0/Core.AssemblyInfo.cs
/Core/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Core/obj/Debug/net5.0
/Core/obj/Core.csproj.nuget.g.targets
/Core/obj/Core.csproj.nuget.g.props
/Core/obj/Core.csproj.nuget.dgspec.json
/Core/obj
/Core/bin/Debug/net5.0/Core.deps.json
/Core/bin/Debug/net5.0
